{% extends 'partials/base.html' %} <br/>
{% block title %}
Shihab TMS
{% endblock %} <br/>

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header">Statistics</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="card shadow">
                <div class="card-body">
                  <h6 style="color: rgb(28, 14, 224); font-weight: bold;">Total</h6>
                  <p class="text-center">{{ total_todo }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow">
                <div class="card-body">
                  <h6 style="color: green; font-weight: bold;">Completed</h6>
                  <p class="text-center">{{ completed_todo }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow">
                <div class="card-body">
                  <h6 style="color: rgb(221, 11, 39); font-weight: bold;">Uncompleted</h6>
                  <p class="text-center">{{ uncompleted_todo }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header">ToDo Form</div>
        <div class="card-body">
          <form action="/add" method="POST">
            <label for="">Title</label>
            <input 
            class="form-control"
            type="text" 
            name="title" 
            placeholder="Add ToDo Format [Date(dd/mm/yyy) | Time(hr:mm)]"
            />
            <input class="btn btn-primary mt-2 btn-sm" 
            type="submit" 
            value="ADD" 
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if total_todo == 0 %}
  <marquee class="mt-4 display-6 fw-bold text-danger" behavior="" direction="">
    No ToDo inserted yet!!.... Create new Todo in Todo form
</marquee>
  {% endif %} <br />

  {% for todo in todo_list %}
  <div class="border-start border-5 mt-3 shadow">
    <div class="card-body">
      <h5>{{ todo.id }}) {{ todo.title }}</h5>
      {% if todo.complete %}
      <span class="badge bg-success">Completed</span>
      {% else %}
      <span class="badge bg-secondary">Uncomplete</span>
      {% endif %}
      <a class="badge bg-info" href="/update/{{ todo.id }}">Update</a>
      <a class="badge bg-danger" href="/delete/{{ todo.id }}">Delete</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}